* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}

body {
  background: #FFEFCF;
}

.header, .navbar {
  color: #FFEFCF;
  padding-top: 22px;
  padding-bottom: 22px;
  text-align: center;

}

.header {
  background-color: #2F2519;
  font-size: 30px;
}

.navbar {
  margin-top: 0;
  border: black solid 2px;
  background-color: #4A3F35;
}

.footer {
  position: relative;
  top: 0px;
  margin-top: 0px;
  text-align: center;
  border: black solid 2px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4A3F35;
  color: #FFEFCF;
}

a {
  color: #FFEFCF;
  text-decoration: none;
}

h4 {
  font-size: 20px;
}
a:hover {
  color: white;
  text-transform: uppercase;
}

#address {
  position: absolute;
  left: 100px;
  bottom: 12px;
}


#phone {
  position: absolute;
  right: 100px;
  bottom: 12px;
}



.main1 th, td{
  border: black solid 2px;

}

#img1 img {
  width: 125px;
  padding-right: 10px;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
}

#img2 img {
  width: 150px;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 70px;
}

#img3 img {
  width: 210px;
  transform: rotate(90deg);
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 60px;
}

#img3 {
  padding-top: 50px;
  padding-bottom: 90px;
}

#ul1 {
  position: absolute;
  top: 220px;
  text-align: left;
  margin-left: 40px;

}

#ul2 {
  position: absolute;
  top: 550px;
  text-align: left;
  margin-left: 40px;

}

#ul3 {
  position: absolute;
  top: 910px;
  text-align: left;
  margin-left: 40px;

}

#text1 {
  padding-right: 400px;
}

#text2 {
  padding-right: 400px;
}

#text3 {
  padding-right: 400px;
}

#text1 h1 {
  top: 175px;
}

#text2 h1 {
  top: 505px;
}

#text3 h1 {
  top: 860px;
}

table h1 {
  text-transform: uppercase;
  font-size: 25px;
  position: absolute;
  text-align: left;
  margin-left: 40px;
}

span {
  font-weight: bold;
}







.main1 {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.main2 th, td{
  border: black solid 2px;

}

#twoimg1 img {
  width: 125px;
  padding-right: 10px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
}

#twoimg2 img {
  width: 150px;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 70px;
}

#twoimg3 img {
  width: 210px;
  transform: rotate(90deg);
  margin-top: 80px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 50px;
}

#twoimg3 {
  padding-top: 50px;
  padding-bottom: 90px;
}

#twoul1 {
  position: absolute;
  top: 220px;
  text-align: left;
  margin-left: 40px;

}

#twoul2 {
  position: absolute;
  top: 550px;
  text-align: left;
  margin-left: 40px;

}

#twoul3 {
  position: absolute;
  top: 910px;
  text-align: left;
  margin-left: 40px;

}

#twotext1 {
  padding-right: 410px;

}

#twotext2 {
  padding-right: 410px;
}

#twotext3 {
  padding-right: 410px;
}

#twotext1 h1 {
  top: 175px;

}

#twotext2 h1 {
  top: 505px;
}

#twotext3 h1 {
  top: 860px;
}
