body {
  position: relative;
    background-color: black;
    z-index: 0;

}

.header {
  height: 100%;
  position: relative;
  text-align: center;
  border: 2px #fbcdf4 solid;
  background-color: black;

  z-index: 0;
}

.header h1 {
  position: relative;
  color: #fbcdf4;
  font-family: Creepster;
  font-size: 50px;
  z-index: 0;



}
.nav {
  height: 100%;
  position: relative;
  margin-top: .4%;
  z-index: 5;
  text-align: center;
  border: 2px #fbcdf4 solid;
  background-color: black;
  padding: .2%;
}

.nav a {
  position: relative;
  font-family: Creepster;
  text-decoration: none;
  color: #fbcdf4;
  font-size: 25px;
}


.main img{
  width: 600px;
  height: auto;
  position: relative;
  left: 30%;
  right: 30%;
  z-index: 5;
  top: 200px;
}

.main h1 {
  font-family: 'Gasoek One', sans-serif;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  text-align: center;
  font-size: 200px;
  top: -275px;
  color: white;
}

#globe1{
  width: 150px;
  height: auto;
  position: relative;
  top: -650px;
  z-index: 6;
  left: 10%;
  right: auto;
}

#globe2{
  width: 150px;
  height: auto;
  position: relative;
  top: -600px;
  z-index: 6;
  left: 65%;

}

#eyes {
  width: 150px;
  height: auto;
  position: relative;

}

.gif {
  position: relative;
  left: 2%;
}
#gif1, #gif2, #gif3, #gif4, #gif5, #gif6, #gif7, #gif8, #gif9, #gif10, #gif11, #gif12, #gif13, #gif14, #gif15 {
  width: 88px;
  top: -400px;
  height: auto;
  position: relative;
  z-index: 6;
  left: 0;

}


#sparkle1 {
  width: 75px;
  height: auto;
  position: relative;
  left: 10%;
  top: -300px;
}

#sparkle2 {
  width: 50px;
  height: auto;
  position: relative;
  left: 80%;
  top: -300px;
}

#sparkle3 {
  width: 25px;
  height: auto;
  position: relative;
  left: 20%;
  top: -300px;
}

#sparkle4 {
  width: 40px;
  height: auto;
  position: relative;
  left: 40%;
  top: -200px;
}

#sparkle5 {
  width: 15px;
  height: auto;
  position: relative;
  left: 50%;
  top: -350px;
}

#tech1 {
  width: 200px;
  height: auto;
  position: relative;
  left: 50%;
  top: -350px;
}
