body {
    position: relative;
    background-color: #FAF9F6;
    z-index: 0;
    overflow-x: hidden;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

.header {
  height: 100%;
  position: relative;
  text-align: center;
  border: 2px black solid;
  background-color: #e0c1b5;
  z-index: 0;
}

.header h1 {
  position: relative;
  color: #654435;
  font-family: Creepster;
  font-size: 50px;
  z-index: 0;
}

.nav {
  height: 100%;
  position: relative;
  margin-top: .4%;
  z-index: 5;
  text-align: center;
  border: 2px black solid;
  background-color: #654435;
  padding: .2%;
}

.nav a {
  position: relative;
  font-family: Creepster;
  text-decoration: none;
  color: #e0c1b5;
  font-size: 25px;
}

#mainPage:hover, #yutoPage:hover, #nikePage:hover {
  color: white;
}

#img1 {
  position: relative;
  width: 400px;
  height: auto;
  margin-left: 10%;
  margin-right: auto;
  margin-top: 8%;
  z-index: 2;
}

#img2 {
  position: relative;
  left: 27%;
  width: 300px;
  height: auto;
  margin-top: 7%;
  z-index: 2;
}

#back-img1:hover + #back-img2 {
  visibility: hidden;
}

.background {
  height: 1000px;
  position: relative;
  bottom: 300px;

  filter: blur(3px);
  z-index: 0;
}

#back-img1 {
  width: 50%;
  float: left;
}

#back-img2 {

  width: 50%;
  float: right;
}

h1:hover {
  color: #8b8c7e;
}

.banner {
  z-index: 5;
  position: relative;
  background-color: #e0c1b5;
  top: -905px;
  right: 0px;
  width: 100%;
  height: 30px;
}

#animate {
  z-index: 5;
  position: relative;
  display: block;
  right: 0px;
  width: 100%;
  height: 20px;
  font-family: Creepster;
  color: #654435;
  padding: 5px;
  transform: translateX(100%);
  animation: move 50s linear infinite
}

@keyframes move {
  to { transform: translateX(-100%); }
}

.main2 {
  position: relative;
  height:50px;
  z-index: 0;
}

#flower1 {
  position: relative;
  float: right;
  width: 500px;
  height: auto;
  top: -1385px;
  left: -60%;
}

.text {
  width: 550px;
  height: auto;
  position: relative;
  left: 45%;
  top: -875px;
}

#p1, #p2, #p3 {
  color: black;
  width: 700px;
  position: relative;
  left: 0;
  z-index: 6;
  line-height: 30px;
  padding: 10px;
  border: 2px #654435 solid;
}

#p3 {
  text-align: center;
}

#landscape {
  position: relative;
  left: 45%;
  width: 722px;
  top: -865px;
  height: auto;
}

.world-time span {
  text-align: center;
  font-weight: bolder;
  color: #e0c1b5;
  margin-top: 50px;
  padding: 3px;
  border: 2px black solid;
  background-color: #654435;
}

#est, #cet, #jst {
  color: #654435;
  line-height: 50px;
  padding: 5px;
  background-color: #e0c1b5;
  font-weight: normal;
}

.world-time {
  background-color: #e0c1b5;
  border: 2px black solid;
  position: relative;
  width: 800px;
  top: -100px;
  height: 55px;
  left: 21%;
  text-align: center;
  padding: 10px;
}

.estClass {
  top: -448px;
  position: relative;
  float: left;
}

.cetClass {
  top: -448px;
  position: relative;
  float: left;
  left: 18%;
}

.jstClass {
  top: -448px;
  left: 36%;
  position: relative;
  float: left;
}

.row {
  display: flex;
}

.column {
  position: relative;
  left: -420px;
  width: 300px;
  height: auto;
  flex: 33.33%;
  padding: 5px;
}

#endcard {
  font-family: Creepster;
  text-align: center;
  position: relative;
  left: 18%;
  color: #654435;
  margin-top: 50px;
  margin-bottom: 50px;
}

.row2 {
  display: flex;
}

.column2 {
  position: relative;
  left: 100px;
  width: 300px;
  height: auto;
  flex: 33.33%;
  padding: 5px;
}

#anchor {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  top: 40px;
  left: 45%;
}
