body {
  position: relative;
    background-color: black;
    z-index: 0;
}

.header {
  height: 100%;
  position: relative;
  text-align: center;
  border: 2px #fbcdf4 solid;
  background-color: black;
  z-index: 0;
}

.header h1 {
  position: relative;
  color: #fbcdf4;
  font-family: Creepster;
  font-size: 50px;
  z-index: 0;
}

.header h1:hover {
  color: white;
}

.nav {
  height: 100%;
  position: relative;
  margin-top: .4%;
  z-index: 5;
  text-align: center;
  border: 2px #fbcdf4 solid;
  background-color: black;
  padding: .2%;
}

.nav a {
  position: relative;
  font-family: Creepster;
  text-decoration: none;
  color: #fbcdf4;
  font-size: 25px;
}

#mainPage:hover, #yutoPage:hover, #nikePage:hover {
  color: white;
}

.main img{
  width: 600px;
  height: auto;
  position: relative;
  left: 30%;
  right: 30%;
  z-index: 5;
  top: 200px;
}

.main h1 {
  font-family: 'Gasoek One', sans-serif;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  text-align: center;
  font-size: 200px;
  top: -275px;
  color: white;
}

#globe1{
  width: 150px;
  height: auto;
  position: relative;
  top: -650px;
  z-index: 6;
  left: 10%;
  right: auto;
}

#globe2{
  width: 150px;
  height: auto;
  position: relative;
  top: -600px;
  z-index: 6;
  left: 65%;
}


.gif {
  position: relative;
  left: 2%;
}

#gif1, #gif2, #gif3, #gif4, #gif5, #gif6, #gif7, #gif8, #gif9, #gif10, #gif11, #gif12, #gif13, #gif14, #gif15 {
  width: 88px;
  top: -400px;
  height: auto;
  position: relative;
  z-index: 6;
  left: 0;
}

#sparkle1 {
  width: 75px;
  height: auto;
  position: relative;
  left: 10%;
  top: -300px;
}

#sparkle2 {
  width: 50px;
  height: auto;
  position: relative;
  left: 80%;
  top: -300px;
}

#sparkle3 {
  width: 25px;
  height: auto;
  position: relative;
  left: 20%;
  top: -300px;
}

#sparkle4 {
  width: 40px;
  height: auto;
  position: relative;
  left: 40%;
  top: -200px;
}

#sparkle5 {
  width: 15px;
  height: auto;
  position: relative;
  left: 50%;
  top: -350px;
}

#tech1 {
  width: 550px;
  height: auto;
  position: relative;
  left: 60%;
  top: -200px;
}

#p {
  color: white;
  width: 700px;
  position: relative;
  left: 7%;
  top: -800px;
  z-index: 6;
  line-height: 30px;
  padding: 10px;
  border: 2px #fbcdf4 solid;
}

p {
  color: white;
  width: 300px;
  position: relative;
  left: 20%;
  top: -800px;
  z-index: 6;
  line-height: 30px;
  padding: 10px;
  border: 2px #fbcdf4 solid;
  text-align: center;
}

.Main2 img {
  position: relative;
  width: 100%;
  height: auto;
  left: 0;
  top: -450px;
}

.Main2 {
  padding-top: 200px;
  height: 1080px;
  overflow: hidden;
}

.sparkle {
  height: 0px;
}

.world-time span {
  text-align: center;
  font-weight: bolder;
  color: #fbcdf4;
  margin-top: 50px;
  padding: 3px;
  border: 2px #fbcdf4 solid;
}

#est, #cet, #jst {
  border: 2px #fbcdf4 solid;
  color: white;
  line-height: 50px;
  padding: 5px;
  font-weight: normal;
}

.world-time {
  border: 2px #fbcdf4 solid;
  position: relative;
  width: 800px;
  top: -575px;
  height: 55px;
  left: 21%;
  text-align: center;
  padding: 10px;
}

.estClass {
  top: 0px;
  position: relative;
  float: left;
}

.cetClass {
  top: 0px;
  position: relative;
  float: left;
  left: 18%;
}

.jstClass {
  top: 0px;
  left: 36%;
  position: relative;
  float: left;
}

#anchor {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  top: -775px;
  left: 45%;
}
