.content {
  border: purple 2px dotted;
  margin-left: 10%;
  margin-right: 10%;
  padding: 180px 0 20px 0;
  font-size: 12px;
  text-align: center;
}


.text {
  text-align: center;
  color: green;
  font-size: 8px;

}

.more-text {
 color: orange;
 font-size: 25px;
 margin-left: 10%;
}

.not-more {
  color: purple;
  font-size: 8px;
  text-align: right;
  margin-right: 10%;
}

#yellow {
  color: yellow;

}

#super {
  color: red;
  vertical-align: super;

}
